/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #dbdbdb;
  --gray-400: #a1a1a1;
  --gray-500: #787878;
  --gray-600: #5c5c5c;
  --gray-700: #4d4d4d;
  --gray-800: #383838;
  --gray-900: #212121;

  --blue-100: #e6ebfe;
  --blue-200: #b3c1f4;
  --blue-300: #7d94e8;
  --blue-400: #647dd8;
  --blue-500: #405bbf;
  --blue-600: #3250bd;
  --blue-700: #2743aa;
  --blue-800: #1b379d;
  --blue-900: #152b79;

  --orange-100: #fdeddd;
  --orange-200: #fed6ae;
  --orange-300: #fec48a;
  --orange-400: #f8a34f;
  --orange-500: #f39130;
  --orange-600: #b24f2e;
  --orange-700: #974830;
  --orange-800: #8e402e;
  --orange-900: #571b0f;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background: var(--blue-100);
  padding: 0 1.5rem;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
  list-style-type: none;
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: var(--blue-300);
  border-bottom: 0.25rem solid transparent;
}

.nav-active-link {
  color: var(--blue-500);
  border-bottom: 0.25rem solid var(--blue-500);
}

.main {
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.primary-section,
.secondary-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 3rem;
}

.cover {
  width: 100%;
  border-radius: 0.5rem;
  background: #e5e5e5;
  aspect-ratio: 10 / 6;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-heading {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid var(--orange-500);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--gray-900);
}

.section-paragraph {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--gray-800);
}

.newsletter-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  padding-bottom: 2.25rem;
  background-color: var(--blue-100);
}

.newsletter-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-900);
  text-align: center;
  margin-bottom: 1rem;
}

.newsletter-paragraph {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--gray-800);
  text-align: center;
  margin-bottom: 1.5rem;
}

.newsletter-box {
  display: flex;
  width: 100%;
  max-width: 20rem;
  border-radius: 0.375rem;
}

.newsletter-input {
  flex: 1;
  height: 2.5rem;
  padding-left: 0.75rem;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border: none;
}

.newsletter-input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: var(--gray-500);
}

.newsletter-button {
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  width: 6.5rem;
  padding: 0 0.5rem 0 1rem;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border: none;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.625rem;
  color: var(--orange-900);
  cursor: pointer;
}

.newsletter-button:disabled {
  background-color: var(--orange-300);
}

.button-icon {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 0.5rem;
  border-radius: 2rem;
  background-color: var(--orange-500);
}

.button-icon::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2.25rem 2rem 10rem;
  background: var(--blue-900);
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

.footer-item {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

.footer-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.author {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--blue-100);
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}

.footer-link {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--blue-200);
}

@media screen and (min-width: 52rem) {
}
